<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Flask Demo</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script>
            function clicked(){
                alert("Thank You for Clicking me!!")
            }
        </script>
    </head>
    <body>
        <div style="box-sizing:border-box;
        position: absolute;
        width: 90%;
        height: 93%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0.5%;
        margin-bottom: auto;
        padding: 5% 4% 5% 4%;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: cadetblue;
        font-size: xx-large;
        ">
        <center><b>Hello World!</b></center>
        <br>
        <br>
        <center>
            <button onclick="clicked()">
                Click Me!
            </button>
        </center>
        </div>
    </body>
</html>